@media screen and (min-width: 360px){
    body {
        margin: 0;
        padding: 0;
        font-family: "Raleway", sans-serif;
        font-size: 1.7rem;
        /*line-height: 3vh; */
        overflow-x: hidden;
        width: 100%;
        background-color: #E2D8D8;
    }


    body::-webkit-scrollbar {
        display: none;
    }

    a:hover {
        text-decoration: none;
        color: rgb(0, 129, 250);
    }
    
    h1, h2 {
        font-family: "VT323", monospace;
    }
    
    h1 {
        font-size: 5.5rem;
        color: #ebb5a0;
    }

    /* Habits Header Layout*/
    header {
        position:fixed;
        top: 0;
        /*
        */

        padding: 1.5em;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #170F4A;
    }

    header a {
        color: #ebb5a0;
    }

    #user-profile {
        width: 60px;
        height: 60px;
        border-radius: 25px;
        margin-left: 1.6em;
    }

    main {
        margin-top: 9em;
    }


    /* Habits Nav */
    footer {
        position:fixed;
        bottom: 0;
        padding: 3em 0 1em 0;
        width: 100%;

        display: flex;
        justify-content: space-around;
        background-color: #201e33;
    }

    /* ICONS */
    .fa { 
        font-size: 2.6rem;
    }
    
    /* Clear storage icon */
    .fa-trash {
        color: #d8c2ba;
    }
    
    /* Tab icons */
    .fa-calendar, .fa-clock-o, .fa-pie-chart, .fa-question-circle {
        color: #ebb5a0;
    }
    
    /* Tab texts */
    footer p {
        color: #d8c2ba;
        font-size: 1.2rem;
        padding-top: 0.5em;
    }
  
    footer .fa:hover, .active-tab {
        text-decoration: none;
        color: #94d4f1;
    }

    footer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        align-items: center;
    }
}