@media screen and (min-width: 360px){
    /* AMD CHART STYLES */
    #habit-chart {
    width: 80%;
    height: 450px;
    }

    /* .non-empty-chart {
        background-color: yellow;
    } */


    main div {
        display: flex;
        margin: 0 1em;
        /* margin: 3em 1em; */
    }

    main h1 {
        text-align: center;
        color: black;
        margin-top: 1.2em;
        font-size: 3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* CHART JS STYLES */
    #habitChart {
        width: 600px;
        height: auto;
    }

    #chart-label {
        width: 500px;
    }
}


/* BIN */
    /* main { */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
    /* } */

    /* #tag-container {
        display: flex;
        margin: 0 5em;
        flex-direction: column;
    } */
    
    /* .tags {
        border: 1px solid #e0e0e0;
        width: 100%;
        text-align: center;
        padding: 0.5em;
        margin: 0.5em;
    } */