@media screen and (min-width: 360px){
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #container .duration {
        border: #69290f solid 1px;
        background-color: #e0e4ee;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 60%; */
        margin: 3em 5em;
        padding: 2.5em;
    }

    main {
        /* align-items: center; */
        /* margin: 7em 1em; */
    }

    main h1 {
        margin: 0;
        font-size: 9rem;
        color: #69290f;
    }

    h4 {
        margin: 0;
        /* width: 20%; */
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #522f20;
    }

    .loop-container {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        /* width: 470px; */
        /* border: #69290f solid 1px; */
        align-items: center;
        margin: 2em 0 1em 0;
    }

    .time-container {
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* border:#69290f solid 1px; */
        width: 230px;
        margin: 0.5em 0;
    }

    .loop-container p{
        /* text-align: center; */
        /* margin-left: 2em; */
        /* width: 160px; */
        /* text-transform: uppercase; */
    }

    input {
        margin: 0 auto;
        text-align: center;
        padding: 0.7em 1.2em;
        /* font-size: 1rem; */
    }

    .interval {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        /* border:#69290f solid 1px; */
    }

    #interval {
        padding: 1em;
    }
    
    main button {
        margin-top: 3em;
        padding: 1.5em 4em;
        background-color: #69290f;
        color: #f7f7f7;
        border: none;
        cursor: pointer;
    }

    #begin-loop-container {
        text-align: center;
    }

    #begin-loop-container button {
        border-radius: 10px;
    }
}